extends layout




block content

h1= title
 - let myresults = [{Dogsname:"pug",Dogssize:"small",Dogscost:"10000$"},{Dogsname:"labrador",Dogssize:"medium",Dogscost:"1500$"},{Dogsname:"poodle",Dogssize:"large",Dogscost:"800$"}]

div(class="container-fluid")

div(class="row")

each item,index in myresults

div(class="col-sm-2", onClick=`buy(${index})`)

p Name of the shoe is #{item.Dogsname}

p shoe price is #{item.Dogssize}

p shoe is made in #{item.Dogscost}    